body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
h1{
    font-size: 25pt;
    color: black;
    font-weight: bold;
}
strong{
    color: blueviolet;
}
a{
    color: blueviolet;
    font-size: 15pt;
    text-decoration: none;
    font-weight: 300;
}
a:hover {
    color: rgb(0, 234, 255);
}
ul{
    display: flex;
    justify-content: space-around;
}