main > * {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #f2f2f2;
}
header {
    padding: 30px;
    text-align: center;
    background-color: rgb(245, 250, 255);
    color: black;
}
header:hover{ 
    background-color: black;
    color: white;
}
.contenedor{
  overflow: auto;
  background-color: #c7c7c7;
}
header h1 {
    font-size: 50pt;
    margin: 0;
}
h3{
    font-size: 10pt;
    font-weight: 500;
}
strong{
    font-weight: 800;
    color: rgb(255, 0, 255);
}
main {
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu{ 
    overflow:auto;
  float: left;
  width: 20%;
  text-align: left;
  background-color: #d2d2d2;
  
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 10%;
    text-align: left;
    font-size: 15pt;
}
.menu li{
    display: block;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 6px;
    display: block;
}
.menu a:hover { 
    background-color: blue;
    color: white; 
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 10pt;
    text-align: center;
}

nav {
    background-color: rgb(8, 0, 255);
    width: 100%;
    align-items: center;
}

nav li {
    display: inline-block;
}

section {
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
}

sidebar{
    display: none;
    float: left;
    padding: 20px;
    font-size: 15pt;
    background-color: rgb(8, 0, 255);
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

.proyecto a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    font-size: 9pt;
}
.proyecto img{
    border-radius: 20px;
}
.galeria{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.proyecto{
    margin-bottom: 20px;
    text-align: center;
}
.proyecto img{
    width: 70%;
    max-width: 200px;
    height: auto;
}
@media (max-width: 390px) {
    header h1 {
        font-size: 2rem;
    }
}
@media (min-width: 391px) and (max-width: 844px) {
    sidebar{ 
        display: : block;
    }

}
@media (min-width: 768px) { 
    nav {
        background-color: blue;
        width: 70%; 
    }

    section {
        background-color: rgb(0, 0, 0);
        width: 100vw; 
    }
    
    sidebar {
        background-color:rgb(8, 0, 255);
        display: block;
        width: 100%; 
    }
}
@media (min-width: 992px) {
    nav {
        background-color: :rgb(8, 0, 255);
        width: 20%; 
    }
    
    nav li {
        display: block;
    }

    section {
        background-color: rgb(0, 0, 0);
        width: 60%; 
    }
    sidebar {
        background-color: : blue;
        width: 20%; 
    }  
     .proyecto {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    .proyecto img {
        width: 80%;
        max-width: 180px;
    }  
}
@media (min-width: 1200px) { 
    h1{ 
        font-size: 50pt;
    }
}