body{
    font-family: Helvetica, sans-serif;
    background-color: #f3f3f3;
    color: #000000;
}
header{
    width: 100%;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: transparent;
}
header img.logo {
    width: 50px;
}
nav{
    position: absolute;
    right: 100px;
    font-size: 15pt;
} 
nav a{
text-decoration: none;
color: rgb(88, 88, 88);
}
nav a:hover {
    color: #000000;
}
.fondo{
    display: flex;
    height: 700px;
    width: auto;
    background-image: url(../imagenes/fondo-1400x860.jpg);
}
h2{
    font-size: 30pt;
    font-weight: 400;
    line-height: 1;

}
h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
p{
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.6;
    width: 40%;

}
.enlacemedio{
    display: block;
}
.enlacemedio a{
    text-decoration: none;
    color: rgb(55, 135, 255);
}
.boton{
    padding: 20px;
    background-color: rgb(55, 135, 255);
    border-radius: 5px;
    color: #f3f3f3;
    margin: 30px;
}
.segundogrupo {
    width: 30%;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: rgb(57, 57, 57);
    color: white;
    display: flex;
    justify-content:space-between ;
}