body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 233, 233);
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    height: 80px;
    width: auto;
    margin: 0%;
    padding: 0;
}
h1{
    font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  font-size: 40pt;
}
.galeria{
    display: block;
    padding: 20px;
}

img {
    width: 25%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    margin: 8px;
    filter: saturate(0); 
    display: inline; 
}
a{
    text-decoration: none;
}

a:hover img {
    filter: saturate(1);
    transform: scale(1.05);
    .shadow {filter: drop-shadow(8px 8px 10px rgb(178, 11, 255));}
}
.cadafoto{
    position: relative;
    width: 25%;
    object-fit: cover;
    height: 400px;
    display: inline-block;
    margin: 8px;
}
.cadafoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    margin: 8px;
}

.contenedordetitulo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;


}
.tituloqueaparece{
    color: white;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.cadafoto:hover .contenedordetitulo{
    opacity: 1;
}
.pag_sueltas{
    align-items: center;
    margin: 100px;
}
.img_sueltas{
    width: 100%;
    height: 600px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    filter: none;
}
.texto_suelto{
    align-items: center;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
}
.boton{
    font-size: 10pt;
    background-color: rgb(238, 0, 255);
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
}
.boton:hover{
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}