body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: none;
}
.barra1{
    height: 200px;
    background-color: #3b09ff;
    padding: 20px 30px;
}
.barra1 img{
    height: 150px;
    width: auto;
}
.nav-item{
    color: white;
    font-size: 20pt;    
}
.footer {
    background-color: #3b09ff;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}

.footer-social {
    margin-top: 8px;
}

.footer a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.footer a:hover {
    opacity: 0.7;
}

@media (max-width: 991px) {

    .navbar-collapse {
        background-color: #fff83b;
        padding: 20px;
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
    }

    .navbar-nav .nav-link {
        color: #000;
        font-size: 22px;
        margin: 10px 0;
    }

    .menu-custom {
        align-items: flex-end;
    }
}
.proyecto {
    padding-top: 40px;
    padding-bottom: 60px;
}
.proyecto-info {
    padding-right: 30px;
}

.proyecto-info h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 1;
}

.proyecto-info .categoria {
    font-weight: 500;
    margin-bottom: 20px;
    color: #3b09ff;
    font-size: 15pt;
}

.proyecto-info p {
    line-height: 1.2;
    font-size: 20pt;
    font-weight: lighter;
}

.proyecto-info .datos {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 12pt;
}

.proyecto-info .datos li {
    margin-bottom: 6px;
}

.img-box {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: #000;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}