body{
    background-color: rgb(218, 218, 218);
    margin: 0;
    padding: none;
}
.barra1{
    height: 200px;
    background-color: #3b09ff;
    padding: 20px 30px;
}
.barra1 img{
    height: 150px;
    width: auto;
}
.nav-item{
    color: white;
    font-size: 20pt;    
}
.img-caja {
    width: 100%;
    height: 550px;
    overflow: hidden;
    background: #000;
}

.img-caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.img-caja:hover img {
    transform: scale(1.05);
}

.footer {
    background-color: #3b09ff;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}

.footer-social {
    margin-top: 8px;
}

.footer a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.footer a:hover {
    opacity: 0.7;
}

@media (max-width: 991px) {

    .navbar-collapse {
        background-color: #fff83b;
        padding: 20px;
        position: absolute;
        top: 100%;
        right: 0;
        width: 30%;
    }

    .navbar-nav .nav-link {
        color: #000;
        font-size: 22px;
        margin: 10px 0;
    }

    .menu-custom {
        align-items: flex-end;
    }
}